# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any older versions be considered deprecated. Don't bother testing
# with them.
go:
  - 1.10.x
  - 1.11.x
  - tip

before_install:
  - pip install --user awscli
  - export PATH=$HOME/.local/bin:$PATH
  - export PATH=$HOME/gopath/bin:$PATH

# Skip the install step. Don't `go get` dependencies. Only build with the code
# in vendor/
install: true

notifications:
  email: false

# Anything in before_script that returns a nonzero exit code will flunk the
# build and immediately stop. It's sorta like having set -e enabled in bash.
# Make sure golangci-lint is vendored by running
#   dep ensure -add github.com/golangci/golangci-lint/cmd/golangci-lint
# ...and adding this to your Gopkg.toml file.
#   required = ["github.com/golangci/golangci-lint/cmd/golangci-lint"]
before_script:
  - go install ./vendor/github.com/golangci/golangci-lint/cmd/golangci-lint

# script always runs to completion (set +e). If we have linter issues AND a
# failing test, we want to see both. Configure golangci-lint with a
# .golangci.yml file at the top level of your repo.
script:
  - make lints
  #- go test -cover ./...
  #- go test -v -race ./...  # Run all the tests with the race detector enabled

matrix:
  allow_failures:
  - go: tip

git:
  depth: 1

#before_deploy:
#  - make VERSION=${TRAVIS_TAG} release-cli -j2
#
#deploy:
#  provider: releases
#  api_key:
#    secure:
#  file: release/*
#  file_glob: true
#  skip_cleanup: true
#  on:
#    tags: true
#
#after_deploy:
#  - make deploy-lambdas
