sudo: required

language: go

go:
  - 1.12.x
  - tip

before_install:
  - sudo apt-get install python-dev libffi-dev libssl-dev
  - pip install --user --trusted-host pypi.python.org awscli
  - pip install --user --upgrade --trusted-host pypi.python.org ndg-httpsclient
  - export PATH=$HOME/.local/bin:$PATH
  - export PATH=$HOME/gopath/bin:$PATH

install: true

notifications:
  email: false

before_script:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $GOPATH/bin v1.15.0

script:
  - make lint
  - make build
  #- make create-deploy-directory
  #- make deploy-lambdas
  #- go test -cover ./...
  #- go test -v -race ./...  # Run all the tests with the race detector enabled

matrix:
  allow_failures:
  - go: tip

git:
  depth: 1

deploy:
  - provider: releases
    overwrite: true
    skip_cleanup: true
    target_commitish: $TRAVIS_COMMIT
    tag_name: $TRAVIS_TAG
    name: $TRAVIS_TAG
    body: Automated release from Travis CI
    draft: false
    file: flixctl
    api_key:
      secure: ipGWBWypEB9kr64IuU/H1bk+6JAWd+WMpEUgheH+XAFoMe+PWs8Vze0eW7QqNYn3QhTveafSEO5Glm8UxEkbXIyTkEaqfdEUsRONv7o7Y/7EBT8wUo2M4YzR0rFK1DV9F6FJWiLc8J4KYdXAiKCmeFFQbY2R2Qfc0a0YNbM5A82EoNaJO09oJGmxUprmH9W7oiA9d2Y0FEICsYwf2PddUjkeHrHVFpKwCY4Kj13gs0UmdivxGHYJ9QVqCFWElTDtWQNzt76YuUTSvUWHtzrg3IkZBZ64BdDvdCFCITj+4vL7Jy2uWanq4/nSDzXiVcK6k+IAt39CtRxFoxdgP2lCkK73OgmK35m4b3iOKpQHIvDibnRBHq/2erSEJRe3Nu5YpL9VuaQaoessF11K2P/tUQIp4TCBS6PIY6fox5IAfZkm7OlaAYsZi+KFANoZ8YGv/09jzq5BfjdBnoyydtXVlGWErdMTOsxWyLu1hjXR+SL3d2LM91ZnqJyXVL1zS7bl8616Q2L5JY4uab6Td0iyduzN+/nUS4uVkpggUTo15hiFsgtzvHnr3TNTRLYkeyxSsdRNDkQ1rt7jGqcnyRNu7/6+jg+povY3if+X97QXvDgySdszQazISX8cbrqkdtAYrzQ7eImINbRmHIyzxZA4aDlF0swLMd+RZwPKJbcLVyo=
    on:
      tags: true
  - provider: s3
    overwrite: true
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: marianoflix
    upload-dir: binaries
    local_dir: deploy
    file: flixctl
    on:
      tags: true

after_success:
  - test $TRAVIS_BRANCH = "master" &&
    test $TRAVIS_PULL_REQUEST = "false" &&
    make deploy-lambdas
